In [2]:
# Description: This program uses the Dual Moving Average Crossover to determine when to buy and sell stock

# Import the libraries
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [3]:
# Load the data
stock = yf.Ticker("AAPL")
AAPL = stock.history(start="2006-10-02", end="2011-12-30")
AAPL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2006-10-02,2.310300,2.333988,2.285689,2.302917,712639200,0,0
2006-10-03,2.290304,2.305686,2.251543,2.278921,790708800,0,0
2006-10-04,2.279538,2.321375,2.250620,2.318914,829082800,0,0
2006-10-05,2.292765,2.342908,2.280459,2.301993,683883200,0,0
2006-10-06,2.289381,2.308454,2.270615,2.283228,466958800,0,0
...,...,...,...,...,...,...,...
2011-12-22,12.212899,12.278425,12.185213,12.260582,202358800,0,0
2011-12-23,12.295655,12.415631,12.289503,12.407633,269399200,0,0
2011-12-27,12.400556,12.584825,12.398094,12.506072,265076000,0,0
2011-12-28,12.517150,12.558987,12.346415,12.386407,228662000,0,0
2011-12-29,12.409787,12.479004,12.320883,12.462699,215978000,0,0