In [1]:
# Description: This program uses the Dual Moving Average Crossover to determine when to buy and sell stock

# Import the libraries
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [5]:
# Load the data
stock = yf.Ticker("AAPL")
AAPL = stock.history(start="2006-10-02", end="2012-12-30")
AAPL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2006-10-02,2.310300,2.333988,2.285689,2.302917,712639200,0.0,0
2006-10-03,2.290304,2.305686,2.251543,2.278921,790708800,0.0,0
2006-10-04,2.279538,2.321375,2.250620,2.318914,829082800,0.0,0
2006-10-05,2.292765,2.342908,2.280459,2.301993,683883200,0.0,0
2006-10-06,2.289381,2.308454,2.270615,2.283228,466958800,0.0,0
...,...,...,...,...,...,...,...
2012-12-21,15.905108,16.128569,15.835897,16.118017,596268400,0.0,0
2012-12-24,16.149674,16.270714,16.098774,16.144087,175753200,0.0,0
2012-12-26,16.107778,16.122055,15.863214,15.921561,302436400,0.0,0
2012-12-27,15.938312,16.022421,15.662711,15.985488,455120400,0.0,0
2012-12-28,15.837452,15.967494,15.770102,15.815725,354278400,0.0,0